@import url(https://fonts.googleapis.com/css?family=Roboto:100,700,300|Yanone+Kaffeesatz:700,200);

body{
	background-color: #fff;
	font-family: 'roboto', sans-serif;
	margin:0px;
	font-weight; thin;
	font-size: 16px;
	letter-spacing:0px;
}
h1 {
	color: #333333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-style:thin;
	font-size:3em;
	letter-spacing: -.07em;
	padding:0%;
}


p {
	color: #333333;


}

#logo{
	margin:.5% 0% .25% .25%;
	float:left;
}

img {
	display:block;
	height:4.5em;
}

#slogan{
	color: #1cc1ca;
	text-transform: uppercase;
	font-style:thin;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:3em;
	margin-top: 1%;
}


#head_wrapper {
float:left;
width:100%;
	background-image: url(http://rachrasmussen.github.io/unit_6/images/wood_pattern.png);
}

#content_wrapper{
	float:left;
	top:20%;
	clear:both;
}

nav {
	color:black;
	text-transform:uppercase;
    margin-left:10%;
}

nav a:link,
nav a:visited{
   color: black;
   text-transform:uppercase;
   text-decoration:none;
   margin:2%;
}

nav a:hover{
	color:#1cc1ca;
	text-transform:uppercase;
    text-decoration:none;
}

nav h1{
	font-size:2em;
}



a:link {
	color:#b3b3b3;
	text-transform:lowercase;
	font-family:'roboto', sans-serif;

}

a:visited {
	color:#1cc1ca;
	text-transform:lowercase;
}

a:hover {
	color:#1cc1ca;
	text-transform:uppercase;
	text-decoration:bold;
}

header{
	text-align:left;
	line-height: 1%;
	margin:-.25% .25% .25% .25%;
    float:left;
    clear:none;
}

#sidebar{
	width:17%;
	text-align:left;
	word-wrap: break-word;
	overflow: inherit;
	margin:1% 5% 0% 2%;
	position:absolute;
    padding: 1.43em;
    float:left;
	
}

#sidebar_mobile{
	display:none;
}

#sidebar img{
	height:12em;
	position:50%;
}

.content{
	position: absolute;
  	width: 70%;
  	height:60%;
  	margin: 0% 5% 0% 20%;
  	text-align:left;
  	overflow: scroll;
    padding: 1.43em;
    display:inline-block;
    float:left;  	
}

.content img{
	height:20%;
	width:35%;
}


footer{
	text-align:center;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:1em;
	color:#f2f2f2;
	position:fixed;
	bottom:0;
	width:98%;
	height:2%;
	margin:0;
	background-color: #333;
    padding: 1.43em;
}
	
.clearfix:after {
    visibility: hidden;
    display: inline block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 865px) {
    body {
        font-size:14px;
    }
    #sidebar{
	width:25%;
	text-align:left;
	word-wrap: break-word;
	overflow: inherit;
	margin:1% 5% 0% 2%;
	position:absolute;
    padding: 1.43em;
    float:left;
	
}
}

@media only screen and (max-width: 1070px) {
    body {
        font-size:14px;
    }
    .content{
  	margin: -2% 5% 0% 30%; 	
}
}

@media only screen and (max-width: 1244px) {
   nav h1{
	font-size:1.5em;
}
}


@media only screen and (max-width: 650px) {
   nav h1{
	font-size:2em;
}
nav{
	margin:5%;
}
	h1, #slogan {
		font-size:2.5em;
	}
	#sidebar{
		display:none;
	}
	.content{
		width:90%;
		height:45%;
		margin: -7% 5% 0% 2%;
		font-size:1em;
		display:inline-block;
		position:absolute;
		clear:both;
	}
	#sidebar_mobile{
	display:inline-block;
	width:90%;
	top:68%;
	text-align:left;
	word-wrap: break-word;
	overflow: inherit;
	margin:0% 5% 0% 2%;
	position:fixed;
    padding: 1.43em;
    font-size:1em;
	}
	#sidebar img{
	height:4em;
	display:inherit;
	float:left;
	padding:2em;
	margin:2em;
}
}
@media only screen and (max-width: 445px) {
   nav h1{
	font-size:1.3em;
}
	h1, #slogan {
		font-size:2.2em;
	}
	#sidebar{
		display:none;
	}
	.content{
		width:90%;
		height:45%;
		margin: 0% 5% 0% 0%;
		font-size:1em;
		overflow:scroll;
	}
}
